In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("/content/TATAMOTORS.csv")

In [ ]:
X = data["Open"]
Y = data["Close"]
data["Profit"] = X - Y
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6860 entries, 0 to 6859
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       6860 non-null   object
 1   Open       6860 non-null   float64
 2   High       6860 non-null   float64
 3   Low        6860 non-null   float64
 4   Close      6860 non-null   float64
 5   Adj Close  6860 non-null   float64
 6   Volume     6860 non-null   int64
 7   Profit     6860 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 428.9+ KB

In [ ]:
class_profit = lambda x : 1 if x > 0 else 0
data["class_profit"] = data["Profit"].apply(class_profit)

In [ ]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Profit,class_profit
0,25-12-1995,72.819626,72.819626,72.819626,72.819626,53.472778,0,0.0,0
1,26-12-1995,72.819626,72.819626,72.819626,72.819626,53.472778,0,0.0,0
2,27-12-1995,72.819626,72.819626,72.819626,72.819626,53.472778,0,0.0,0
3,28-12-1995,72.819626,72.819626,72.819626,72.819626,53.472778,0,0.0,0
4,29-12-1995,72.819626,72.819626,72.819626,72.819626,53.472778,0,0.0,0

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
features = ["Profit"]
scaled_values = scaler.fit_transform(data[features])
data["norm_Profit"] = scaled_values

In [ ]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Profit,class_profit,norm_Profit
0,25-12-1995,72.819626,72.819626,72.819626,72.819626,53.472778,0,0.0,0,0.575916
1,26-12-1995,72.819626,72.819626,72.819626,72.819626,53.472778,0,0.0,0,0.575916
2,27-12-1995,72.819626,72.819626,72.819626,72.819626,53.472778,0,0.0,0,0.575916
3,28-12-1995,72.819626,72.819626,72.819626,72.819626,53.472778,0,0.0,0,0.575916
4,29-12-1995,72.819626,72.819626,72.819626,72.819626,53.472778,0,0.0,0,0.575916

In [ ]:
data.info()
# data.to_csv("C:\\D\ganja_op.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6860 entries, 0 to 6859
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          6860 non-null   object
 1   Open          6860 non-null   float64
 2   High          6860 non-null   float64
 3   Low           6860 non-null   float64
 4   Close         6860 non-null   float64
 5   Adj Close     6860 non-null   float64
 6   Volume        6860 non-null   int64
 7   Profit        6860 non-null   float64
 8   class_profit  6860 non-null   int64
 9   norm_Profit   6860 non-null   float64
dtypes: float64(7), int64(2), object(1)
memory usage: 536.1+ KB

In [ ]:
data["Profit_achieveable"] = data["High"] - data["Open"]
data["Loss_achieveable"] = data["Open"] - data["Low"]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6860 entries, 0 to 6859
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                6860 non-null   object
 1   Open                6860 non-null   float64
 2   High                6860 non-null   float64
 3   Low                 6860 non-null   float64
 4   Close               6860 non-null   float64
 5   Adj Close           6860 non-null   float64
 6   Volume              6860 non-null   int64
 7   Profit              6860 non-null   float64
 8   class_profit        6860 non-null   int64
 9   norm_Profit         6860 non-null   float64
 10  Profit_achieveable  6860 non-null   float64
 11  Loss_achieveable    6860 non-null   float64
dtypes: float64(9), int64(2), object(1)
memory usage: 643.2+ KB

In [ ]:
data["Fight"] = data["High"] - data["Low"]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6860 entries, 0 to 6859
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                6860 non-null   object
 1   Open                6860 non-null   float64
 2   High                6860 non-null   float64
 3   Low                 6860 non-null   float64
 4   Close               6860 non-null   float64
 5   Adj Close           6860 non-null   float64
 6   Volume              6860 non-null   int64
 7   Profit              6860 non-null   float64
 8   class_profit        6860 non-null   int64
 9   norm_Profit         6860 non-null   float64
 10  Profit_achieveable  6860 non-null   float64
 11  Loss_achieveable    6860 non-null   float64
 12  Fight               6860 non-null   float64
dtypes: float64(10), int64(2), object(1)
memory usage: 696.8+ KB

In [ ]:
np.corrcoef(data["Profit"], data["norm_Profit"])

array([[1., 1.],
       [1., 1.]])

In [ ]:
data_free = data
data_free = data_free.drop(columns = "Open")
data_free = data_free.drop(columns = "Close")
data_free = data_free.drop(columns = "High")
data_free = data_free.drop(columns = "Low")
data_free = data_free.drop(columns = "Adj Close")

In [ ]:
data_free.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6860 entries, 0 to 6859
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                6860 non-null   object
 1   Volume              6860 non-null   int64
 2   Profit              6860 non-null   float64
 3   class_profit        6860 non-null   int64
 4   norm_Profit         6860 non-null   float64
 5   Profit_achieveable  6860 non-null   float64
 6   Loss_achieveable    6860 non-null   float64
 7   Fight               6860 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 428.9+ KB

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_values = scaler.fit_transform(data_free[["Profit", "Profit_achieveable", "Loss_achieveable", "Fight"]])
data_free["norm_Profit"] = scaled_values[:, 0]
data_free["norm_Profit_achieaveable"] = scaled_values[:, 1]
data_free["norm_Loss_achieaveable"] = scaled_values[:, 2]
data_free["norm_Fight"] = scaled_values[:, 3]

In [ ]:
data_free.info()
data_free.to_csv("TATAMOTORS.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6860 entries, 0 to 6859
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      6860 non-null   object
 1   Volume                    6860 non-null   int64
 2   Profit                    6860 non-null   float64
 3   class_profit              6860 non-null   int64
 4   norm_Profit               6860 non-null   float64
 5   Profit_achieveable        6860 non-null   float64
 6   Loss_achieveable          6860 non-null   float64
 7   Fight                     6860 non-null   float64
 8   norm_Profit_achieaveable  6860 non-null   float64
 9   norm_Loss_achieaveable    6860 non-null   float64
 10  norm_Fight                6860 non-null   float64
dtypes: float64(8), int64(2), object(1)
memory usage: 589.7+ KB

In [ ]:
# splitting the data into test and trian data
from sklearn.model_selection import train_test_split
X = data_free[["norm_Profit_achieaveable"]]
Y = data_free['class_profit']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 100)

In [19]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors = 3, metric = "euclidean")
model.fit(X_train, Y_train)
model.score(X_train, Y_train)

0.8325437317784257